<%- partial('_partial/head') %>

  <body style="height:100%">
    <div class="flex-wrapper">
      <section class="flex-content container m4 clearfix">
        <div class="clearfix">
          <%- partial('_partial/top') %>
            <%- partial('_partial/menu') %>
              <div class="p0 col col-12">
                <%- body %>
              </div>
        </div>
      </section>
      <div class="flex-footer">
        <%- partial('_partial/foot') %>
      </div>
    </div>
  </body>

  </html>